<!DOCTYPE html>
<html lang="en" dir="auto">
<head>
	<meta charset="UTF-8">

	<title>{{YOUR HOME PAGE TITLE HERE}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="./resources/main.css" rel="stylesheet" type="text/css" media="all">

	<link rel="icon" href="./resources/favicon.ico">
</head>



<body>
	<a id="skip-link" href="#content">Skip to main content</a>



	<div id="container">
		<header id="header">This site requires JavaScript.</header><!--#header end-->



		<main id="content">
			<h1>Welcome to my blog!</h1>
			<p>Add your intro and other stuff here.</p>

			<h2>Recent Posts</h2>
			<ol id="latest-posts" class="post-list" reversed></ol><!--#latest-posts end-->
		</main><!--#content end-->



		<footer id="footer">
			<a href="#content" rel="return">Return to top</a>
			<ul id="contact-links" class="flex-list"></ul><!--#contact-links end-->
		<footer><!--#footer end-->
	</div> <!--#container end-->



	<script src="./resources/main.js"></script>
</body>
</html>